* {
    font-family: "Montserrat", "Segoe UI";
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

body {
    background-color: hwb(32 89% 5%);
}

.stage {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.card-body {
    padding: 24px;
    background-color: white;
}

@media screen and (min-width: 375px) {
    .card {
        max-width: 350px;
    }

    .image-container,
    .image-container img {
        height: 220px;
    }

    .desktop {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .card {
        flex-direction: row;
        min-width: 550px;
    }

    .card-body {
        max-width: 280px;
    }

    .image-container img {
        width: 250px;
        height: 340px;
    }

    .image-container {
        height: auto;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

.card-image {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.card-body > *:not(:first-child) {
    margin-top: 16px;
}

button {
    border: none;
    padding: 16px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    font-weight: 600;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: hsl(158, 74%, 10%);
    transition: 0.2s ease-in;
}

.product-category {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
}

.product-name {
    line-height: 1.1em;
    color: hsl(212, 21%, 14%);
    margin-top: 12px !important;
}

p {
    color: hsl(228, 12%, 48%);
}

.product-price {
    font-weight: bold;
    margin-right: 16px;
    color: hsl(158, 36%, 37%);
}

.product-former-price {
    text-decoration: line-through;
}

.prices {
    display: flex;
    align-items: center;
}

.product-price,
.product-name {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 28px;
}

.icon {
    content: url("./icon-cart.svg");
    margin-right: 8px;
}
